site_name: Andrew Seohwan Yu
site_url: https://asy51.github.io
site_description: PhD Candidate in Computer Science | Computer Vision & Medical Imaging

theme:
  name: material
  icon:
    logo: material/home
  palette:
    - scheme: slate
      primary: brown
      accent: brown
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: brown
      accent: brown
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.highlight
    - content.tabs.link

nav:
  - Home: index.md
  - Publications: publications.md
  # - Blog: blog/index.md
  - About Me: about.md
  - Contact: contact.md

markdown_extensions:
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/asy51
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/asy51
    - icon: fontawesome/solid/envelope
      link: mailto:asy51@case.edu
